/* ==UserStyle==
@name           Twitter Reading Dark
@namespace      suienzan
@version        0.7.3
@updateURL      https://userstyles.world/api/style/719.user.css
@description    A dark twitter theme for reading only.
@author         Midori <suienzan@gmail.com>
@preprocessor   stylus

@var            select theme "Theme" ["0:Default*", "1:IM@S Light", "2:IM@S Dark"] 
@var            checkbox noLike "Hide like button" 0
@var            checkbox noNav "Hide nav in timeline" 0

==/UserStyle== */
@-moz-document regexp('^https:\\/\\/(.*\\.)?twitter.com\\/?.*') {
  /* stylelint-disable selector-max-compound-selectors */
  /** IM@S Light **/
  if theme == 1 {
    :root {
      --color-background: #fbfafa;
      --color-background-alpha: #fbfafabf;
      --color-background-accent: #ebe1ff;
      --color-background-accent-alpha: #ebe1ff66;
    }

    /* twitter logo */
    .r-1cvl2hr {
      color: #be1e3e;
    }
  }

  /** IM@S Dark **/
  else if theme == 2 {
    :root {
      --color-background: #3f3538;
      --color-background-alpha: #3f3538bf;
      --color-background-accent: #515558;
      --color-background-accent-alpha: #51555866;
    }

    /* twitter logo */
    [href='/home'] svg.r-jwli3a {
      color: #f8a3bc;
    }
  }
  /* stylelint-enable selector-max-compound-selectors */

  /** Default **/
  else {
    :root {
      --color-background: #333435;
      --color-background-alpha: #333435bf;
      --color-background-accent: #444648;
      --color-background-accent-alpha: #44464866;
    }
  }

  /** color **/
  /* main background */
  body,
  :not([role='radiogroup']) > .r-yfoy6g,
  :not([role='radiogroup']) > .r-14lw9ot {
    background-color: var(--color-background) !important;
  }

  /* search bar background (light & dark)*/
  .r-1sw30gj,
  .r-8erxvq,
  /* empty line use as border in /compose/tweet */
  .r-kuekak,
  /* timeline in /:name/status/:id */
  .r-hjejmn,
  /* highlight background in menu (light & dark)*/
  .r-x572qd,
  .r-g6ijar {
    background-color: var(--color-background-accent);
  }

  /* blurred background in top nav */
  .r-snbmw9,
  .r-ii8lfi,
  .r-6026j,
  .r-1yc6c17 {
    background-color: var(--color-background-alpha);
  }

  /* dialog overlay */
  .r-11z020y {
    background-color: var(--color-background-accent-alpha);
  }

  /* border color in /compose/tweet */
  .r-j5o65s,
  /* border color vertical (light & dark) */
  .r-18bvks7,
  .r-1ets6dv, {
    border-color: var(--color-background-accent);
  }

  /* profile photo */
  .r-hjejmn.r-1udh08x {
    background-color: transparent;
  }

  [class='css-1dbjc4n r-hjejmn'] {
    background-color: transparent;
  }

  /** fix **/
  /* remove padding under reply */
  .r-kzbkwu.r-aaos50 {
    padding-bottom: 0;
  }

  /* change box of Show replies in /:name/status/:id */
  .r-m2pi6t.r-19u6a5r[role='button'] {
    margin-left: 0;
    padding-left: 16px;
  }

  /** hide annoying **/
  /* What’s happening */
  [data-testid='primaryColumn'] > .css-1dbjc4n > .r-184en5c,
  /* Who to follow title & etc... */
  [class='css-1dbjc4n r-1wtj0ep r-1ny4l3l r-ymttw5 r-1f1sjgu'],
  /* Who to follow title & etc... in mobile.twitter.com */
  .r-1wtj0ep.r-1j3t67a.r-kmv1fd,
  /* Who to follow Show more */
  [href^='/i/connect_people?user_id='],
  /* empty border after Who to follow & etc... */
  .r-109y4c4,
  /* Topics to follow content */
  [data-testid='primaryColumn'] section nav[role='navigation'],
  /* Topics to follow More Topics */
  [href^='/i/topics/picker/home'],
  /* Discover new Lists */
  [data-testid='listCell'],
  /* empty blocks after purging topics by script (README.md - (Optional))*/
  .r-1ila09b.r-qklmqi.r-1adg3ll.r-1ny4l3l > .css-1dbjc4n:empty,
  /* Push notifications */
  [data-testid='inlinePrompt'],
  /* Sidebar */
  [data-testid='sidebarColumn'] {
    display: none;
  }

  /* Like button */
  if noLike {
    [data-testid='like'][role='button'] {
      opacity: 0;
      pointer-events: none;
    }
  }

  /* empty border fix */
  [data-testid='primaryColumn'] .r-qklmqi {
    border-bottom-width: 0;
  }

  [data-testid='primaryColumn'] article {
    border-bottom-color: var(--color-background-accent);
    border-bottom-width: 1px;
  }

  /* border color in /compose/tweet */
  .r-1ila09b {
    border-bottom-color: var(--color-background-accent);
  }

  /* nav in timeline */
  if noNav {
    main nav.css-1dbjc4n {
      display: none;
    }
  }
}

@-moz-document regexp('^(?!.*(?:\\/(.+)){2}(following|followers))https:\\/\\/(.*\\.)?twitter.com\\/?.*') {
  /* Who to follow content */
  [data-testid='UserCell'] {
    display: none;
  }
}
