/* ==UserStyle==
@name           Twitter Reading Dark
@namespace      suienzan
@version        0.6.1
@updateURL      https://userstyles.world/api/style/719.user.css
@description    A dark twitter theme for reading only.
@author         Midori <suienzan@gmail.com>
@preprocessor   stylus

@var            checkbox light "Use light theme" 0
==/UserStyle== */

@-moz-document regexp('^https:\\/\\/(.*\\.)?twitter.com\\/?.*') {
  :root {
    --background-color: #333435;
    --background-color-alpha: #333435bf;
    --background-color-accent: #444648;
    --background-color-accent-alpha: #44464866;
  }

  if light {
    :root {
      --background-color: #fbfafa;
      --background-color-alpha: #fbfafabf;
      --background-color-accent: #ebe1ff;
      --background-color-accent-alpha: #ebe1ff66;
    }
  }

  /** color **/
  /* main background */
  body,
  .r-yfoy6g,
  .r-14lw9ot {
    background-color: var(--background-color) !important;
  }

  /* search form */
  .r-aaos50,
  /* empty line use as border in /compose/tweet */
  .r-kuekak,
  /* timeline in /:name/status/:id */
  .r-hjejmn,
  /* highlight background in menu */
  .r-1uaug3w {
    background-color: var(--background-color-accent);
  }

  /* blurred background in top nav */
  .r-6026j,
  .r-1yc6c17 {
    background-color: var(--background-color-alpha);
  }

  /* Firefox fix. Need enable `layout.css.backdrop-filter.enabled` in `about:config` */
  .r-snbmw9 {
    backdrop-filter: blur(12px);
  }

  /* dialog overlay */
  .r-11z020y {
    background-color: var(--background-color-accent-alpha);
  }

  /* border color in /compose/tweet */
  .r-o4zss7,
  /* border color horizontal */
  .r-1ila09b,
  /* border color vertical */
  .r-18bvks7,
  /* border-top-color */
  .r-1kfrmmb {
    border-color: var(--background-color-accent);
  }

  /* profile photo */
  .r-hjejmn.r-1udh08x {
    background-color: transparent;
  }

  [class='css-1dbjc4n r-hjejmn'] {
    background-color: transparent;
  }

  /** fix **/
  /* remove padding under reply */
  .r-kzbkwu.r-aaos50 {
    padding-bottom: 0;
  }

  /* change box of Show replies in /:name/status/:id */
  .r-m2pi6t.r-19u6a5r[role='button'] {
    margin-left: 0;
    padding-left: 16px;
  }

  /** hide annoying **/
  /* What’s happening */
  [data-testid='primaryColumn'] > .css-1dbjc4n > .r-184en5c,
  /* Who to follow title & etc... */
  [class='css-1dbjc4n r-1wtj0ep r-ymttw5 r-1f1sjgu'],
  /* Who to follow title & etc... in mobile.twitter.com */
  .r-1wtj0ep.r-1j3t67a.r-kmv1fd,
  /* Who to follow Show more */
  [href^='/i/connect_people?user_id='],
  /* empty border after Who to follow & etc... */
  .r-109y4c4,
  /* Topics to follow content in profile page */
  [data-testid='primaryColumn'] .r-1adg3ll > section,
  /* Topics to follow More Topics */
  [href^='/i/topics/picker/home'],
  /* Discover new Lists */
  [href^='/i/lists/'],
  /* Like button */
  [data-testid='like'][role='button'],
  /* empty blocks after purging topics by script (README.md - (Optional))*/
  .r-1ila09b.r-qklmqi.r-1adg3ll.r-1ny4l3l > .css-1dbjc4n:empty,
  /* Push notifications */
  [class='css-1dbjc4n r-yfoy6g'],
  /* Sidebar */
  [data-testid='sidebarColumn'] {
    display: none;
  }

  /* empty border fix */
  [data-testid='primaryColumn'] .r-qklmqi:not([role='group']) {
    border-bottom-width: 0;
  }

  [data-testid='primaryColumn'] .r-qklmqi:not([role='group']) > div:last-child {
    border-bottom-color: var(--background-color-accent);
    border-bottom-width: 1px;
  }
}

@-moz-document regexp('^(?!.*(?:\\/(.+)){2}(following|followers))https:\\/\\/(.*\\.)?twitter.com\\/?.*') {
  /* Who to follow content */
  [data-testid='UserCell'] {
    display: none;
  }
}
